<h1>Welcome, <%=current_user.email%></h1>

<% @my_tasks.each do |t| %>
<%= button_to "Edit", edit_task_path(t.id), method: :get %>
<ul>
  <li><%= t.name %></li>
  <% if  t.status == true %>
    <p>Status: Complete<p>
  <% else %>
    <p>Status: In Progress</p>
  <% end %>
</ul>

<%end%>
