<h1><%= @group_task.name %></h1>

<h3>Due Date: <%= @group_task.due_date %></h3>

<% if  @group_task.status == true %>
  <h3>Status: Complete!</h3>
<% else %>
  <h3>Status: In Progress</h3>
<% end %>

<ul>
  <% @group_task.tasks.each do |t| %>
  <li><%= t.name %></li>

   <% if  t.status == true %>
     <p>Status: Complete<p>
   <% else %>
     <p>Status: In Progress</p>
   <% end %>

   <p>User: <%= User.find(t.user_id).email %> </p>
  <%end%>
</ul>
